<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link href="{$s_path}css/nmstyle.css" type="text/css" rel="stylesheet" />
<link href="{$s_path}css/thickbox.css" type="text/css" rel="stylesheet" />
<title>left</title>
<style type="text/css">
body{ background:none;}
</style>
    <script language="javascript" src="{$s_path}js/jquery1.4.2.js"></script>
    <script language="javascript" src="{$s_path}js/thickbox.js"></script>
</head>

<body>
<div class="nmtree">

<dl id="amenu1" class="dl_on">
  <dt><a href="channel/members.php" target="mainFrame">我的会员</a></dt>
</dl>
<dl id="amenu3">
  <dt><a href="channel/accountInfo.php" target="mainFrame">数据统计</a></dt>
</dl>
<dl id="amenu4">
  <dt><a href="channel/myaccount.php" target="mainFrame">我的结算</a></dt></dl>
<dl id="amenu7">
  <dt><a href="channel/myAgents.php" target="mainFrame">我的返点</a></dt>
  </dl>
<dl  id="amenu5" style="display:{$isShow}">
  <dt><a href="channel/agentSet.php" target="mainFrame">下级代理设置</a></dt>
</dl>
<dl  id="amenu6" style="display:{$isShow}">
  <dt><a href="channel/agentData.php" target="mainFrame">下级代理数据</a></dt>
</dl>
<!--<dl>
  <dt><a href="channel/rulesmanagement.php" target="mainFrame">下级代理设置</a></dt>
</dl>-->
<dl>
  <dt><a href="channel/agentrule.php" target="mainFrame">代理推广合作协议</a></dt>
</dl>

<dl>
  <dt><a href="channel/commendlink.php" target="mainFrame">推广链接</a></dt>
</dl>

<dl  id="amenu13">
  <dt><a href="logout.php" onclick="return confirm('是否确认退出华阳彩票代理查询系统？')" target="_parent">安全退出</a></dt>
</dl>

<div class="telbox">
<p>电话：<span class="red_b02">400-630-1806</span></p>
</div>
</div>
</body>
</html>