<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
    <link href="{$s_path}css/nmstyle.css" type="text/css" rel="stylesheet" />
    <title>main</title>
</head>
<body>
    <div class="dangq">
        <span><a href="#">财付通充值</a></span></div>
    <div class="conbox">
        
    </div>
    </div>
</body>
</html>
