<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
<meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport" />
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" />
<meta content="telephone=no" name="format-detection" />
<title>投注信息2</title>
<link href="cz/cz.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="cz/iscroll.js"></script>
<script type="text/javascript" src="cz/utils.js"></script>
<script type="text/javascript">  <!--实现投注内容的拖动-->

utils.addEvt(document,'touchmove', function (e) { e.preventDefault(); });
utils.addEvt(document,'DOMContentLoaded', function(){utils.init();utils.scroll= new iScroll('wrapper',{checkDOMChanges:true});});
utils.addEvt(window,"resize",function(){utils.init();});

</script>
</head>

<body>
<header id="top_header">
    <div class="top_cont">
            <h1>投注信息2</h1>	
            <a rel="nofollow" href="###" class="goBack"></a> 
    </div>
</header>
<article id="wrapper">
    <div class="bet_details">
      <h2><b>双色球</b>  第<em>2013107</em>期</h2> 
      <div class="table_cont">
         <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <thead>
                  <tr>
                    <td>注数</td>
                    <td>倍数</td>
                     <td>追号期数</td>
                  </tr>
              </thead>
              <tr>
                <td>10</td>
                <td>12</td>
                <td>465</td>
              </tr> 
              
            </table>
      </div>
      <p class="bot_p"><span>投注金额：<b class="red_color">888888元 </b></span><em class="red_color">中奖后停止追号</em></p>
      <div class="my_acco_unt">
        <span>账户余额：8888888.88元</span>
        <span>您的账户余额已不足，请先充值。</span>
        <label><em>充值金额：</em><input type="text" /> <b>元</b></label>
      </div>
      <div class="Pay">
        <a href="###" class="PayCenter">
            <span>财付通充值</span>
            <em></em>	
        </a>
        <a href="###" class="PayCenter">
            <span class="rechargeable_card">充值卡充值</span>
            <em></em>	
        </a>
      </div>
    </div>
</article>


</body>
</html>
