@charset "utf-8";
/* CSS Document */
body, ul, p {margin:0;padding:0;}
*{ margin:0; padding:0}
body {text-align:left;font-family:STHeiti, Arial; background:#f4f4f2;}
h1,h2,h3,h4,h5 {margin:0; padding:0; font-size:100%}
li {list-style:none;}
em{ font-style:normal}
a{text-decoration:none; color:#000}
input,button,textarea,select{display:inline-block; vertical-align:middle;}
.clearfix:after {clear:both;height:0;overflow:hidden;display:block;visibility:hidden;content:".";}
/***#top_header************/
#top_header{  color:#fff; font-size:1.75rem; 
text-align:center;position:relative; z-index:10; }
#top_header .top_cont{height:3.5rem; line-height:3.5rem; background:#1789ca;box-shadow:0 2px 2px 0 #c7c7c5}
#top_header h1{ font-weight:bold; font-size:28px;}
#top_header h1 span{ display:inline-block; line-height:1.5em;padding:0 .75em 0 .75em; background:url(../i/sj_03.png) no-repeat bottom right}
#top_header .goBack{ display:block; height:3.5rem;
position:absolute; left:0; top:0; border-right:1px solid #157db9;width:3.67rem; z-index:11; background:#1a98e1 url(../i/ht_03.png) no-repeat center}
#top_header2{  color:#fff; font-size:1.75rem; 
text-align:center;z-index:999; position:fixed; width:100%; top:0}
#top_header2 .top_cont2{height:3.5rem; line-height:3.5rem; background:#1789ca;box-shadow:0 2px 2px 0 #c7c7c5}
#top_header2 h1{ font-weight:bold; font-size:28px;}
#top_header2 h1 span{ display:inline-block; line-height:1.5em;padding:0 .75em 0 .75em; background:url(../i/sj_03.png) no-repeat bottom right}
#top_header2 .goBack2{ display:block; height:3.5rem;
position:absolute; left:0; top:0; border-right:1px solid #157db9;width:3.67rem; z-index:11; background:#1a98e1 url(../i/ht_03.png) no-repeat center}


/******all_caizhong
***************************************************/
.gameTip{ line-height:2rem; margin:1rem 0 0 0;}
.gameTip2{margin:0;}
.gameTip p span{ color:#ba152b}
.gameTip .rockTip{ display:block; padding:0 .2rem 0 2.5rem; background:url(../i/yiy_03.png) no-repeat .4em center; background-size:2em auto}
.gameTip .r_box{ float:right; color:#999; padding:0 0.83rem 0 0; font-size:12px}
.ballCon{border-top:1px solid #ccc}
.ballCon ul{ padding:.83rem 0 0 1.6rem}
.ballCon li{ float:left; height:2.58rem; padding:0 .6rem .6rem 0; width:2.58rem; }
.ballCon li span{ cursor:pointer;line-height:1.68em; border-radius:1.29em;box-shadow:0 0 0 1px #CCCCCC;text-align:center;display:block; color:#900; font-size:1.5rem; font-weight:500}
.blueBalls li span{ color:#0E52A7}
.ballCon li.active span{ background:#BC102D;box-shadow:0 0 0 1px #BC102D; color:#fff}
.blueBalls li.active span{ background:#0E52A7;box-shadow:0 0 0 1px #0E52A7; color:#fff}
.gameTip .l_box{ float:left; color:#666}
.daty_check{}
.at_parent_daty{ position:relative; padding:0 .8em 0 .8em; text-align:center; margin:0 auto}
.at_parent_daty span{ display:inline-block;color:#898e91; font-size:18px;padding:.3em 0 .2em 0; height:100%;}
.at_parent_daty p{padding:.3em 0 .3em 0; float:left}
.at_parent_daty p em{ padding:0 .3em 0 0; color:#b2122a; font-size:18px}
.at_parent_daty p em.blue_w{ color:#1789ca}
.gameTip p{ padding:0 0 0 .8em; color:#898e91}
.eight_dat{overflow:hidden;transition: height 1s;-moz-transition: height 1s; /* Firefox */-webkit-transition: height 1s; /* Safari and Chrome */
  -o-transition: height 1s; /* Opera */ border-bottom:1px solid #ccc;}	
  
.at_parent_daty1{padding:0 .8em 0 .6em;}
.click_up{display:block;width:30px; float:right;height:100%;position:absolute;right:1em;top:0;background:url(../i/jt_up_06.png) no-repeat center}
.click_down{display:block;width:30px; float:right;height:100%;position:absolute;right:1em;top:0; background:url(../i/down.png) no-repeat center}   

/***touzhuyexiafang
************************/
.bottomBox{ position:fixed;width:100%; bottom:0;border-top:1px solid #ccc; z-index:100; background:#fff;overflow: hidden;}
.operateBox{line-height:3.08rem; border-bottom:1px solid #ccc; background:#fff; width:100%; overflow:hidden; font-size:1.16rem}
.operateBox span{ display:inline-block; width:50%; margin-right:-0.416rem; border-right:1px solid #ccc; text-align:center}
.operateBox span input{ width:42%; margin:0 0.416rem; text-align:center; line-height:2rem;height:2rem; border:1px solid #ccc; -webkit-box-shadow:0 0 0 0 #ccc,0 0 0 0 #fff inset;box-shadow:0 0 0 0 #ccc,0 0 0 0 #fff inset;-webkit-border-radius:1px;border-radius:1px;}
.stop_bet{ height:24px; padding:.43em .83em}
.stop_bet span,.stop_bet b{ display:inline-block; height:24px; font-weight:100; float:left; line-height:24px}
.stop_bet span{ width:24px; background:url(../i/s2_033.png) no-repeat center}
.moreOperate{ line-height:2.92rem; border-top:1px solid #ccc; text-align:center; background:#fff}
.moreOperate input{ vertical-align:middle}
.betResult{ background:#171719; text-align:center; bottom:0; width:100%;
 line-height:3.1rem; font-size:1.16rem; display:block; position:fixed; z-index:11;}
.betResult_text{ margin:0 6.4rem; overflow:hidden; white-space:nowrap; color:#fff; 
                font-size:1.16rem; line-height:3.5rem; text-align:center;}
.betResult .graybtn{ position:absolute; left:0; top:0; background:#323235; color:#fff}
.betResult .redbtn{ position:absolute; right:0; top:0;background:#1789ca; color:#fff}
.betResult2{ background:#171719; text-align:center; bottom:0; width:100%;
 line-height:3.1rem; font-size:1.16rem; display:block; position:relative;z-index:11;}
.betResult2 .graybtn{ position:absolute; left:0; top:0; background:#323235; color:#fff}
.betResult2 .redbtn{ position:absolute; right:0; top:0;background:#1789ca; color:#fff}
.graybtn, .redbtn{ color:#fff; display:inline-block; font-size:1.33rem; line-height:3.5rem;
 padding:0 1.25rem;font-weight:600}
/********renwu
***************************************************/
.date_end{ font-size:20px;width:100%; text-align:center; border-bottom:1px solid #dededc;height:2em; line-height:2em; background:#fff}
.date_end em{ color:#ba152b}
.ballCon ul.renwu_bet{ overflow:hidden;padding:0.83em 0 0 .2em}
.ballCon ul.renwu_bet li{ height:70px; text-align:center}
.ballCon ul.renwu_bet li em{ display:block; margin:6px 0 0 0; color:#898e91; font-size:20px;}
.left_chooes{ width:60px; height:90px;float:left; position:relative; left:.6em; margin:.83em .4em 0 0}
.left_chooes span{ display:block; width:52px; height:39px; background:url(../i/xh_03.png) no-repeat;}
.left_chooes .wan_wei{ background:url(../i/ww_03.png) no-repeat}
.left_chooes .qian_wei{ background:url(../i/qw_06.png) no-repeat}
.left_chooes em{ font-size:16px; color:#2e2e2e; display:block; padding:12px 0 0 0}
.choose_cz{ display:none;position:absolute;z-index:2;height:auto; left:45%; top:0; margin:0 0 0 -150px;width:295px;font-size:18px; text-align:center; padding:0 .5em .3em 1em; background:#FFF}
.choose_cz a{ display:block; text-align:center; width:90px; height:30px; line-height:30px;float:left; border:1px solid #ccc; margin:0 .3em .4em 0}
.choose_cz p{ width:288px; text-align:left; float:left; color:#000; padding:.5em 0 .5em 0; color:#1789ca; font-weight:600}
.choose_cz a.dang_q{ border-color:#0069d4; color:#0069d4}

/*******dltkaijiangxiangqing
*****************/
.no_bg_dd{ padding:.8em .8em .8em .4em; background:#fff; margin:0 0 .3em 0; border-bottom:1px solid #dededc; box-shadow:0 0 1px 0 #f4f4f2}
.no_bg_dd a{display:block}
.no_bg_dd a.right_jt{background:url(../i/yjt_03.png) no-repeat right center;}
.no_bg_dd h2{ font-size:18px;color:#a5a8aa; padding:.2em 0 .2em 0}
.no_bg_dd h2 em{ color:#171719; font-size:22px;}
.no_bg_dd .top_bet{ margin:0 auto; text-align:center}
.smallRedball,.smallBlueball{ width:2em; height:2em; text-align:center;line-height:2em;border-radius:1em;box-shadow:0 0 0 1px #CCCCCC;display:inline-block; margin:0 .2em 0 .2em; color:#fff}
.smallRedball{ background:#BC102D}
.smallBlueball{ background:#0E52A7}

.dat_list{ padding:.8em 1.5em .8em .4em;background:#fff;margin:0 0 .3em 0; border-bottom:1px solid #dededc; box-shadow:0 0 1px 0 #f4f4f2}
.dat_list a{background:url(../i/yjt_03.png) no-repeat right center; display:block}
.dat_list h2{ font-size:18px;color:#a5a8aa; padding:.2em 0 .2em 0}
.dat_list h2 em{ color:#171719; font-size:22px;}
.dat_list .top_bet{ margin:0 auto; text-align:center}
.Redball,.Blueball{ width:1.8em; height:1.8em; text-align:center;line-height:1.8em;display:inline-block; margin:0 .3em 0 .3em; color:#fff}
.Redball{ color:#ba152b}
.Blueball{ color:#1a98e1}
.table_cont{ padding:.8em; text-align:center;}
.table_cont table{ width:100%; border:1px solid #e2e2e2; border-collapse:collapse}
.table_cont table tr td{ border:1px solid #e2e2e2; height:45px;}
.table_cont table thead tr{ background:#fffef5}
.table_cont table thead tr td{ color:#1789ca}
.table_cont table thead tr td span{ padding:0 0 0 30px;}
.table_cont table thead tr td span.bqxl{ background:url(../i/ss_03.png) no-repeat center left;}
.table_cont table thead tr td span.jcjj{ background:url(../i/tb_03.png)  no-repeat center left;}
.table_cont table td.red_color{ color:#ba152b}
.table_cont table td.blue_color{ color:#1789ca}
.buttom_an{ position:fixed; bottom:0;width:100%; height:2em;background:#0576b7; line-height:2em; color:#fff; font-size:28px;text-align:center;margin:0 auto}
.buttom_an a{ display:inline-block; color:#fff; width:100%;}

/*****tab_add_bet-jiesuan
************************/
.tab_add_bet{ width:100%;text-align:center; margin:.3em 0}
.tab_add_bet a{ display:inline-block; font-size:16px; width:35%; padding:0 0 0 15px;height:35px;line-height:35px;border-radius:5px; border:1px solid #b5b5b6; background:#f4f4f2 url(hj_05.png) 10px 12px no-repeat}
.tab_add_bet a.click_add{ background:#1a98e1 url(../i/hj_03.png) no-repeat 9px 12px; color:#fff}
.tablist{ margin:0 .8em 1em; border:1px solid #b5b5b6;border-radius:6px;}
.betList{ clear:both; border-bottom:1px solid #ccc; float:none; height:3.9em; position:relative; z-index:9}
.betList_last{ border:none}
.agree_xy{padding:0 .8em 1em .8em; height:3em; width:100%;vertical-align:middle;text-align:center}
.agree_xy span{ display:inline-block;height:26px; line-height:26px;background:url(../i/dd_03.png) no-repeat center left; background-size:26px 26px; padding:0 0 0 35px}
.close_dq{ width:30px; height:100%; background:url(../i/close_03.png) no-repeat center; position:absolute; left:.83em; top:0}
.text_bet{margin-left:4em;padding-top:.6em}
.bet_qiu{ padding:0 0 .3em 0;}
.bet_qiu em{ color:#ba152b; margin:0 .8em 0 0}
.bet_qiu em.blue_bet{ color:#1a98e1}


/***touzhuxiangqing**************************/
.Betting_xq{ width:100%; padding:0 0 130px 0}
.Betting_xq h2{ font-size:24px;height:45px; border-bottom:1px solid #dededc;box-shadow:0 0 1px 0 #ececea;background:#fff; line-height:50px; padding:0 0 0 .6em}
.base_p{ padding:.8em 0 .8em .8em; font-size:18px;}
.base_p p{ line-height:30px}
.base_p p span{ color:#dd3328}
.Lottery_num,.my_num,.chase_num{ padding:.8em .8em .8em .6em; font-size:18px}
.Lottery_num em{ display:inline-block; margin:0 .1em 0 .1em; color:#e32626}
.Lottery_num em.blue_q{ color:#1789ca}
.my_num{color:#666}
.my_num em,.my_num span{ display:inline-block; margin:0 .1em 0 .1em; }
.my_num em.red_num{ color:#e32626}
.my_num em.blue_num{ color:#1789ca}
.chase_num em,.chase_num span{display:inline-block;}
.chase_num em.red_num{ color:#e32626}
.chase_num em.blue_num{ color:#1789ca}
.bet_Status{ padding:0 .8em 0 .6em; height:18px; line-height:18px;}
.bet_Status span{ padding:0 0 0 2em}
.bet_Status span.red_num{color:#e32626}
.footer_an{ width:100%; height:55px;}
.footer_an a{ display:block; width:50%; color:#fff; font-size:24px;height:55px; float:left; line-height:55px; text-align:center}
.continue_bet{ background:#4c4c4c}
.ssq_bet{ background:#da2e24}
/*******touzhujilu 
****************************************/
.four_link_a{ width:100%; height:38px; text-align:center; padding:1em 0 1em 0; border-bottom:1px solid #ccc}
.four_link_a a{ display:inline-block; height:38px; line-height:38px; margin:0 .2em 0 .2em;padding:0 .6em 0 .6em; border:1px solid #b5b5b6; border-radius:4px}
.list_bet{ padding:0 .5em 0 .5em}
.list_bet .list_one{height:80px; border-bottom:1px solid #e3e6e6} 
.list_one p{ height:40px; line-height:40px}
.list_one p span{ float:left; clear:both}
.list_one p span i{ color:#006098; font-style:normal}
.list_one p em{ float:right;}
.list_one p em b{ color:#d7000f}
.look_more{ text-align:center; width:100%; height:80px; line-height:80px;}
.look_more a{ display:block; height:80px; color:#898e91}


/****touzhuxinxi
*********************/
.bet_details{}
.bet_details h2{ padding:0 0 0 .5em; font-weight:100;font-size:18px;border-bottom:1px solid #dededc;box-shadow:0 0 0 1px #ececea; background:#fff; line-height:45px;}
.bet_details h2 b{font-size:24px}
.bet_details h2 em{ font-weight:100; color:#be3342}
.bet_details p{ padding:0 .3em .8em .3em; height:24px; line-height:24px; font-size:18px; color:#525252}
.bet_details p.bot_p{ border-bottom:1px solid #e9e9e9}
.bet_details p span{ float:left; display:inline-block}
.bet_details p em{ float:right; display:inline-block}
.red_color{ color:#ba152b}
.but_an2{ padding:0 .8em}
.but_an2 a{ display:inline-block; width:50%; text-align:center; height:55px;line-height:55px; color:#fff; font-size:24px;}
.but_an2 a.abolish{ background:#4c4c4c}
.but_an2 a.submit_Order{ background:#e0382c}
.my_acco_unt{ padding:.4em .8em .8em .8em; border-top:1px solid #ffffff}
.my_acco_unt span{ display:inline-block; width:100%; font-size:18px; line-height:24px; padding:.4em 0 0 0}
.my_acco_unt label{ padding:.4em 0 0 0;display:inline-block; width:100%;font-size:18px;}
.my_acco_unt label b{ font-weight:100;}
.my_acco_unt label input{ border:1px solid #e3e3e3; background:#fff; width:128px; height:28px;}
.Pay{ width:100%; border-top:1px solid #e9e9e9}
.Pay a{ display:block; padding:0 .8em 0 0;border-bottom:1px solid #dededc;
text-align:center;font-size:20px;height:67px; line-height:67px; background:#fff;}
/*.Pay .PayCenter{ background:#fff url(fs_11.png) no-repeat 10px center ; background-size:5em 3em}*/
.Pay .PayCenter span{ display:inline-block; float:left; padding:0 0 0 6em; margin:0 0 0 .8em;background:url(../i/fs_11.png) no-repeat}
.Pay .PayCenter em{display:inline-block; float:right; height:100%; width:0.75em; background:url(../i/yjt_03.png) no-repeat center; background-size:0.6em auto}
.Pay .PayCenter span.rechargeable_card{ background:url(../i/fs_23.png) no-repeat}



/*2014-04-07 add*/
.choose_wey_bet{ text-align:center; margin:0 auto; width:100%; height:45px;}
.choose_wey_bet a{ display:inline-block;width:130px; font-size:20px;margin:0 auto;height:45px; line-height:45px; border:1px solid #ccc; background:#fff;text-align:center;}
.choose_wey_bet a.dang_on{ color:#1a98e1}















