<form id="pagerForm" method="post" action="__URL__/zcissue">
	<input type="hidden" name="act" value="query">
	<input type="hidden" name="lotteryid" value="{$lotteryid}" />
	<input type="hidden" name="lotteryissue" value="{$lotteryissue}" />
	<input type="hidden" name="starttime" value="{$starttime}" />
	<input type="hidden" name="endtime" value="{$endtime}" />	
	<input type="hidden" name="pageNum" value="1" />
	<input type="hidden" name="numPerPage" value="{$numPerPage}" />
</form>
<div class="pageHeader">
	<form onsubmit="return navTabSearch(this);" action="__URL__/zcissue" method="post">
	<input type="hidden" name="act" value="query" />
	<div class="searchBar">
		<table class="searchContent">
			<tr>
			   <td width="180">
					<div style="float:left;width:auto;line-height:24px;">玩法名称：</div>
					<div style="float:left;width:auto;line-height:30px;">
					<select class="combox" name="lotteryid" id="zclottery">
						<option value="0" <eq name="lotteryid" value="0">selected="selected"</eq>>    ---全部---   </option>
					 	<foreach name="cz_zucai" item="cz">
					 	<option value="{$cz.value}" <if condition="$lotteryid eq $cz.value ">selected="selected"</if>>{$cz.name}</option>
					 	</foreach>
					</select>
					</div>
				</td>
			    <td  width="180">
					彩票期号：<input type="text" id="lotteryissue" class="textInput" name="lotteryissue" value='{$lotteryissue}'  size='15' />
				</td>
				<td  width="180">
					起始时间：<input type="text" id="starttime" class="date" name="starttime" value='{$starttime}' size='15' />
				</td>
				<td  width="180">
					截止时间：<input type="text" id="endtime" class="date" name="endtime" value='{$endtime}' size='15' />
				</td>
				<td>
					<div class="buttonActive"><div class="buttonContent"><button type="submit">查询</button></div></div>
				</td>
			</tr>
		</table>
	</div>
	</form>
</div>
<div class="pageContent">
	<div class="panelBar">
		<ul class="toolBar">
		    <li><a class="add" href="__URL__/add" target="dialog" height="320" rel="addresult" title="录入新期"><span>录入新期</span></a></li>
			<li><a class="edit" href="__URL__/edit_zucai?recid={lotteryid_lotteryissue}" target="dialog" height="320" rel="edit_zucai" title="修改期信息"><span>修改</span></a></li>
			<li><a class="delete" href="__URL__/delete?recid={lotteryid_lotteryissue}" target="ajaxTodo" rel="delete" title="确定要删除吗?"><span>删除</span></a></li>
		</ul>
	</div>
	<table class="table" width="100%" layoutH="113">
		<thead>
			<tr>
				<th width="80" align="center">玩法名称</th>
				<th width="60" align="center">期号</th>
				<th width="120" align="center">开期时间</th>
				<th width="120" align="center">官方期结时间</th>
				<th width="120" align="center">代购期结时间</th>
				<th width="120" align="center">单式方案截至时间</th>
				<th width="120" align="center">复式方案截至时间</th>
				<th width="60" align="center">B2C状态</th>
				<th width="60" align="center">B2B状态</th>
				<th width="50" align="center" >B2C操作</th>
				<th width="50" align="center" >B2B操作</th>
			</tr>
		</thead>
		<tbody>
		    <foreach name="issuelist" item="zc">
		    <tr target="lotteryid_lotteryissue" rel="{$zc.cz_id}_{$zc.lotteryissue}" height="30">
				<td>{$zc.lotteryname}</td>
				<td>{$zc.lotteryissue}</td>
				<td>{$zc.starttimestamp}</td>
				<td>{$zc.endtimestamp}</td>
				<td>{$zc.endtime1}</td>
				<td>{$zc.endtime2}</td>
				<td>{$zc.endtime3}</td>
				<td>{$zc.b2cstatus}</td>
				<td>{$zc.b2bstatus}</td>
				<!--<td><a <if condition="$zc.b2cisend eq '1' ">href="javascript:void(0);"<else />href="__URL__/{$zc.b2coptype}?recid={lotteryid_lotteryissue}&token=tob2c"</if> target="{$zc.b2ctarget}" rel="b2c"><span class="{$zc.b2cstyle}"></span></a></td>
				 <td><a <if condition="$zc.b2bisend eq '1' ">href="javascript:void(0);"<else />href="__URL__/{$zc.b2boptype}?recid={lotteryid_lotteryissue}&token=tob2b"</if> target="{$zc.b2btarget}" rel="b2b"><span class="{$zc.b2bstyle}"></span></a></td>
				 -->
				 <td><a <if condition="$zc.b2cisend eq '1' ">href="javascript:void(0);"<else />href="__URL__/{$zc.b2coptype}?recid={$zc.cz_id}_{$zc.lotteryissue}&token=tob2c"</if> target="{$zc.b2ctarget}" title="您确定要操作吗？" rel="b2c"><span class="{$zc.b2cstyle}"></span></a></td>
				 <td><a <if condition="$zc.b2bisend eq '1' ">href="javascript:void(0);"<else />href="__URL__/{$zc.b2boptype}?recid={$zc.cz_id}_{$zc.lotteryissue}&token=tob2b"</if> target="{$zc.b2btarget}" title="您确定要操作吗？" rel="b2b"><span class="{$zc.b2bstyle}"></span></a></td>
			</tr>
			</foreach>
		</tbody>
	</table>
	<div class="panelBar">
		<div class="pages">
			<span>显示</span>
			<select class="combox" name="numPerPage" onchange="navTabPageBreak({numPerPage:this.value})">
				<option value="20" <if condition="$numPerPage eq '20'">selected="selected"</if>>20</option>
				<option value="50" <if condition="$numPerPage eq '50'">selected="selected"</if>>50</option>
				<option value="100" <if condition="$numPerPage eq '100'">selected="selected"</if>>100</option>
				<option value="200" <if condition="$numPerPage eq '200'">selected="selected"</if>>200</option>
			</select>
			<span>共{$pageTotal}页</span>
		</div>
		<div class="pagination" targetType="navTab" totalCount="{$totalCount}" numPerPage="{$numPerPage}" pageNumShown="{$pageNumShown}" currentPage="{$currentPage}"></div>
	</div>
</div>
