<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
<meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport" />
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" />
<meta content="telephone=no" name="format-detection" />

<title>修改密码修改密码</title>
<link href="cz/cz.css" rel="stylesheet" type="text/css">
</head>

<body>
<header id="top_header">
<div class="top_cont">
        <h1>修改密码</h1>	
        <a rel="nofollow" href="###" class="goBack"></a> 
 </div>
</header>
<article>
   <div class="content_box">
     <div class="inp_sr">
     <input type="text" value="" placeholder="旧密码：" />
     </div>
     <div class="inp_sr inp_sr_xgmm">
     <input type="text" value="" placeholder="新密码：密码长度为6-16位" />
     </div>
     <div class="inp_sr">
     <input type="text" value="" placeholder="确认新密码" />
     </div>
     <div class="btnBox">
      <a href="###" title="提交" class="red_bg">提交</a>
     </div>
   </div>
</article>
</body>
</html>
