<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title></title>
<link href="{$s_path}css/nmstyle.css" type="text/css" rel="stylesheet" />
<link href="{$s_path}css/jquery.ui.all.css" type="text/css" rel="stylesheet" />
<link href="{$s_path}css/jquery.ui.datepicker.css" type="text/css" rel="stylesheet" />
<script language="javascript" src="{$s_path}js/jquery1.4.2.js"></script>
<script language="javascript" src="{$s_path}js/jquery.ui.core.js"></script>
<script language="javascript" src="{$s_path}js/jquery.ui.widget.js"></script>
<script language="javascript" src="{$s_path}js/jquery.ui.datepicker.js"></script>
<script language="javascript" type="text/javascript">
  $(document).ready(function(){
      $("#startdate").datepicker({ dateFormat:"yy-mm-dd"});
      $("#enddate").datepicker({ dateFormat:"yy-mm-dd"});
  });
</script>
</head>
<body>
<ul class="ullist">
  <li class="{$tab_all}"><a href="?lottery=all&{$query}">所有明细</a></li>
  <li class="{$tab_fc}"><a href="?lottery=fc&{$query}">福彩明细</a></li>
  <li class="{$tab_tc}"><a href="?lottery=tc&{$query}">体彩明细</a></li>
  <li class="{$tab_zc}"><a href="?lottery=zc&{$query}">足彩明细</a></li>
  <li class="{$tab_gp}"><a href="?lottery=gp&{$query}">高频明细</a></li>
  <li class="{$tab_dc}"><a href="?lottery=dc&{$query}">单场明细</a></li>
  
</ul>
<div class="conbox">
<form name="mainform" method="post">
<table class="contop"  border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><div class="conditionbox">
  <span class="red_b">会员名:</span>
      <input class="input_90" id="lowername" name="lowername" type="text" value="{$lowername}" />
      &nbsp;&nbsp;<span class="red_b">交易时间:</span>
      <input class="input_90" id="startdate" name="startdate" value="{$startdate}" type="text" />
      <span class="red_b">到:</span>
      <input class="input_90" id="enddate" name="enddate" value="{$enddate}" type="text" />
    </div></td>
    <td><div style="float:right;"><span class="yellow_button" onclick="mainform.submit();" >查询</span></div></td>
  </tr>
</table>
<table width="40%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td style="padding-top:20px" align="left" valign="middle">&nbsp;&nbsp;方案数：<span class="fontred12">{$plannum}</span>个&nbsp;&nbsp;&nbsp;&nbsp;共计方案金额：<span class="fontred12">{$planvalue}</span>元&nbsp;&nbsp;&nbsp;&nbsp;佣金总计：<span class="fontred12">{$planrate}</span>元</td>
    </tr>
</table>
  
<table width="0%" class="con_t01" border="0" cellspacing="1" cellpadding="0" style="display: {$isshow.css}">

  <tr>
    <th>出票时间</th>
    <th>方案编号</th>
    <th>玩法期号</th>
    <th>有效出票金额</th>
    <th>我的佣金</th>
    <th>佣金状态</th>
    </tr>
  {foreach name=datalist item=dl from=$datalist}
  <tr>
    <td class="doub">{$dl.reporttime}</td>
    <td class="doub">{$dl.planid}</td>
    <td class="doub">{$dl.issue}</td>
    <td class="doub">{$dl.salevalues}</td>
    <td class="doub">{$dl.myrate}</td>
    <td class="doub">{$dl.commision}</td>
  </tr>
  {/foreach}
</table>
<table  class="fy_tab" border="0" align="right" cellspacing="0" cellpadding="0" style="display: {$isshow.css}">
  <tr>
    <td width="30%" align="left"></td>
    <td width="50%" align="center">
	    <input class="fydiv" type="submit" name="first" value="首页" />
	    <input class="fydiv" type="submit" name="prev" value="上一页" />
	    <span id="pindex" class="num01">{$pindex}</span>
	    <input name="goindex" type="text" class="fyinput" value="{$goindex}" />
	    <input class="fydiv" type="submit" name="gopage" value="GO" />
	    <input class="fydiv" type="submit" name="next" value="下一页" />
	    <input class="fydiv" type="submit" name="last" value="尾页" />
	    <span class="num01">共{$ptotal}页</span>
	    <input type="hidden" name="pindex" value="1"></input>
	    <input type="hidden" name="ptotal" value="{$ptotal}"></input>
    </td>
    <td align="right">&nbsp;</td>
  </tr>
</table>
<div class="warning">{$isshow.text}</div>
</form>
</div>

</body>
</html>
